
<section class = "title">
    <div class="title">
        Register Form
    </div>
</section>

<%= form_with model: @user, url: register_path do |form| %>
    <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <% end %>
    <div class="form">
        <section class = "fullname">
            <div class ="firstname">
                <label for="firstname">First Name:</label>
                <%= form.text_field :firstname, class: "form-control", placeholder: "quayyyyyyyy" %>
            </div>
            <div class ="lastname">
                <label for="lastname">Last Name:</label>
                <%= form.text_field :lastname, class: "form-control", placeholder: "quayyyyyyyy" %>
            </div>
        </section>
        <section class ="personal-detail">
            <div class ="birthday">
                
                <label for="timestamp">Birthday:</label>
                <%= form.date_field :birthday, class: "form-control", placeholder: "quayyyyyyyy" %>
            </div>
            <div class ="gender">
                <label for="gender">Gender:</label>
                <div class="btn-group">
                    <div class ="male-choice">
                        <%= form.radio_button :gender, 'Male', class: 'form-check-input', id: 'option1' %>
                        <%= form.label :gender, 'Male', value: 'Male', for: 'option1' %>
                    </div>
                    
                    <div class ="male-choice">
                        <%= form.radio_button :gender, 'Male', class: 'form-check-input', id: 'option2' %>
                        <%= form.label :gender, 'Female', value: 'Female', for: 'option2' %>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class ="email">
                <label for="email">Email:</label>
                <%= form.text_field :email, class: "form-control", placeholder: "quayyyyyyyy" %>
            </div>
            <div class ="phonenumber">
                <label for="phonenumber">Phonenumber:</label>
                <%= form.text_field :phonenumber, class: "form-control", placeholder: "quayyyyyyyy" %>
            </div>
        </section>
        <section class="subject">
            <%= form.label :subject, 'Subject' %>
            <%= form.select :subject, options_for_select(@subjects), { prompt: 'Choose a role' }, class: 'form-control' %>
            
        </section>
        <div class="submit">
            <%= form.submit "Submit" %>
        </div>
    </div> 
<% end %>
