


<%= form_with model: @user, url: register_path do |form| %>
    <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <% end %>
    <div class="form">
        
        <div class="form-detail">
            <section class = "title">
                <div class="title">
                    Registration
                </div>
            </section>
            <section class = "fullname">
                <div class="icon">
                    <%= image_tag 'avatar.png',  alt: '', class: 'icon-image' %>
                </div>
                <div class="name">
                    <div class ="firstname">
                        <%= form.text_field :firstname, class: "form-control1", placeholder: "Firstname" %>
                    </div>
                    <div class ="lastname">
                        <%= form.text_field :lastname, class: "form-control1", placeholder: "Lastname" %>
                    </div>
                </div>
            </section>
            
            <section class ="personal-detail">
                
                <div class ="birthday">
                    <div class="icon">
                        <%= image_tag 'birthday-cake.png',  alt: '', class: 'icon-image' %>
                    </div>
                    <%= form.date_field :birthday, class: "form-control2", placeholder: "dd/mm/yyyy", pattern:"\d{2}/\d{2}/\d{4}" %>
                </div>
                <div class ="gender">
                    <div class="btn-group">
                        <div class ="male-choice">
                            <%= form.radio_button :gender, 'Male', class: 'form-check-input', id: 'option1' %>
                            <%= form.label :gender, 'Male', value: 'Male', for: 'option1', class: 'form-check-input' %>
                        </div>
                        
                        <div class ="male-choice">
                            <%= form.radio_button :gender, 'Male', class: 'form-check-input', id: 'option2' %>
                            <%= form.label :gender, 'Female', value: 'Female', for: 'option2', class: 'form-check-input' %>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact">
                <div class="icon">
                    <%= image_tag 'email.png',  alt: '', class: 'icon-image' %>
                </div>
                <div class ="email">
                    <%= form.text_field :email, class: "form-control3", placeholder: "Email" %>
                </div>
            </section>
            <section class="contact">
                <div class="icon">
                    <%= image_tag 'phone-call.png',  alt: '', class: 'icon-image' %>
                </div>
                <div class ="phonenumber">
                    <%= form.text_field :phonenumber, class: "form-control3", placeholder: "PhoneNumber" %>
                </div>
            </section>
            
            <section class="subject">
                <div class="icon">
                    <%= image_tag 'book.png',  alt: '', class: 'icon-image' %>
                </div>
                <div class="dropdown">
                    <%= form.select :subject, options_for_select(@subjects), { prompt: 'Subject' }, class: 'form-control4' %>
                </div>
                
            </section>
            <div class="submit">
                <%= form.submit "Submit" %>
            </div>
            <section class="dashboard">
                <%= link_to 'Dashboard', root_path %>
            </section>
        </div>
    </div> 
<% end %>
